nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  #navBar {
    background-color: #7D869C;
  }
  
  #logo {
    color: #2B2D42;
  }
  
  body {
    background-color: #2B2D42;
  }
  aside {
    margin-top: 40px;
    margin-left: 100px;
    padding-left: 5px;
    padding-right: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*     background-color: #CCA43B; */
  }
  
  #mainContainer {
    display: flex;
    flex-flow: column, wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  #parentGif {
    /* display: flex;
    flex-flow: column, wrap;
    justify-content: center;
    align-items: center; */
  }
  
  #insGif {
    padding: 20px;
    padding-right: 50px;
    width: 400px;
    height: 400px;
  }
  
  #randomBtn {
    font-weight: 600;
    background-color: #CCA43B;
    border-radius: 5px;
    margin: 5px;
    margin-right: 10px;
    transition: background-color 2s, color 2s;
  }
  
  #randomBtn:hover {
    background-color: #2B2D42;
    color: #CCA43B;
  }
  
  .moreInfoParent {
    padding: 10px;
    color: #CCA43B;
  }
  
  .parentGif {
    display: flex;
    flex-flow: column wrap
  }
  
  #movieInfo {
    color: #CCA43B;
    padding: 20px;
  }
  
  #card {
    width: 150%;
  }